{% extends "templates/base.html" %}

{% block main_body %}

<div role="main" class="main">

    <section class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">Pages</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Sitemap</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container">

        <div class="row">

            <div class="col-md-4">
                <ul class="nav nav-list mb-xl">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about-us">About Us</a></li>
                    <li><a href="/page-faq">FAQ</a></li>
                    <li><a href="/contact-us">Contact Us</a></li>
                </ul>
            </div>

            <div class="col-md-6 col-md-offset-2 hidden-xs">
                <h2 class="mb-lg">Who <strong>We Are</strong></h2>
                <p class="lead">We are buyers of used IT equipment. We refurbish the used IT equipment in Asia and sell
                    it across Asia to ensure used IT equipment dont end up in landfills. We buy following items:</p>
                <ul class="list list-icons mt-xl">
                    <li><i class="fa fa-check"></i>Used Laptops.
                    </li>
                    <li><i class="fa fa-check"></i>Pulled memory chips server and laptops.
                    </li>
                    <li><i class="fa fa-check"></i>Pulled HDD and SSD.
                    </li>
                    <li><i class="fa fa-check"></i>Pulled CPUs.
                    </li>
                </ul>
            </div>

        </div>

    </div>

</div>
{% include "templates/footer.html" %}
{% endblock %}
