
<!DOCTYPE html>
<html>
<head>
    {% import "templates/consts.njk" as consts %}

    {% include "templates/header.njk" %}

</head>
<body>

<div class="body">
    {% include "templates/menu.njk" %}
    {% block main_body %}
            Default body
    {% endblock %}
    {% include "templates/footer.njk" %}
</div>

{% include "templates/footer_incs.njk" %}
{% block current_page_script %}

{% endblock %}

</body>
</html>