{% set latitude = 48.87146 %}
{% set longitude = 2.35500 %}
{% set address_str = "Fremont, CA 94555" %}
{% set address_html = "<strong>San Francisco Bay Area Office</strong><br>Fremont, CA 94555" %}
{% set google_map_api_key = "AIzaSyDM0VFhswsa5iSiztF7MARARq7_ATjB254" %}